.container1 {
    text-align: center;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.question {
    display: flex;
    justify-content: space-between;
}